.jsvi-editor {
	color: #333;
	background-color: #eee;
    height: 200px;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.jsvi-print, .jsvi-editor, .jsvi-editorcursor { display: none; }
@media print {
	.jsvi-editor { display:none !important; }
	html,body { overflow:auto !important; }
	.jsvi-editorcursor { display:none !important; }
	.jsvi-print {position:absolute;top:0;left:0;display:block !important;font-family:monospace;height:100%;}
	.jsvi-editortools {display:none !important;}
	textarea,input { display:none !important;}
}
